name: pr
on:
  - pull_request
jobs:
  test:
    name: testing
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Build test
        run: "deno test"
      - name: Build step
        run: "deno check"
      - name: Publish verification
        run: "deno publish --dry-run"
